<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="fintatech" value="https://nexus.breakfreetrading.com/nexus/service/local/nuget/breakfreetrading_nuget/" />
  </packageSources>
  <packageSourceCredentials>
    <fintatech>
      <add key="Username" value="nuget_user" />
      <add key="ClearTextPassword" value="zsdfjh7a23423s" />
    </fintatech>
  </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>
